<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/estilo.css">
</head>

<body>
    <h1>Seja bem-vindo!</h1>
    <p>Vamos fazer o login</p>
    <div class="form-container">

        <form action="/login" method="post" style="padding: 10px 10px  40px 10px;">
            <div>
            <h5>LOGIN:</h5>
                <label for="email">Email: </label>

                <input type="email" id="email" name="email" placeholder="Email" required style="margin-bottom: 20px;">

            </div>
            <div>

                <label for="senha" >Senha:</label>

                <input type="password" id="senha" name='senha' placeholder="Senha" required style="margin-bottom: 20px;">

            </div>
            <div>
                <button style="border: 1px solid black" type="submit">Login</button>
                <button class="cadastrarUsuario"><a  href="/formCadastrarNovoUsuario">cadastrar usuario</a></button>
            </div>
            <a style="margin-top: 10px" href="senha/esquecida">esqueci a senha</a>
        </form>
    </div>

</body>

</html>