/* corpo */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    padding-top: 60px;
    /* Ajuste para compensar a altura da navbar fixa */
}

body.light-theme {
    background-color: white;
}

body.dark-theme {
    background-color: black;
}

body.dark-theme th,
body.dark-theme .table-container tr:nth-child(even),
body.dark-theme h1,
body.dark-theme caption
{
    background-color: black;
    color: white;
}


body.dark-theme form{
border: 2px solid rgb(134, 130, 130);
}
body.dark-theme p,
body.dark-theme label
{
    color: white;

}


body.dark-theme .table-container tr:nth-child(odd) {
    background-color: #3d3d3d;
    color: white;
}

h1 {
    color: black;
}

/* tabelas */

caption {
    color: #333;
}
.table-container{
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
    border: 1px solid #999999;
    border-radius: 2px;
    margin-bottom: 100px;
    margin-left: 40px;
    margin-right: 40px;

    display: table; /* Define o display da tabela como table para comportar corretamente o caption */
}

.table-container caption {
    caption-side: top; /* Certifica-se de que o caption está no topo da tabela */
    text-align: left;  /* Alinha o texto do caption à esquerda */
    font-weight: bold; 
    margin-bottom: 20px; 
    color: black;
}


.table-container th, .table-container td {
    border: 1px solid #999999;
    padding: 8px;
}

.table-container th {
    background-color: #f2f2f2;
}


.table-container tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table-container tr:nth-child(odd) {
    background-color: #fff;
}

/* .table-container a{
color: #007bff;

} */

.produto-imagem {
    max-width: 100px;
    height: auto;
}
table .quantidade,.numero, .valor {
    font-size: smaller;
}

#formtable tr,td{
    border: none;

}
#acao-venda{
    display: flex; justify-content: center;
}

.estado-nao-confirmado{
}
.estado-confirmado{
    background-color: green;
    color: black;
}

.estado-encaminhado{
    background-color:yellow;
    color: black;
}
.estado-entregue{
    background-color: blue;
    color: black;
}

.estado-cancelado{
    color: black;
    background-color: red;
}

@media (max-width: 600px) {
    .table {
        font-size: 12px; /* Reduz o tamanho da fonte */
    }
    .table .quantidade{
        display: none;
        max-width: 15px;
    }
    .numero{
        display: none;
    }
 

    .table th, .table td {
        font-size: smaller;
        padding: 5px; 
        max-width: 50px; 
        word-wrap: break-word;
        hyphens: auto;
    }
    .table-container .estado, .table-container .estado td{
    max-width: 70px;
    word-wrap: break-word;
    font-size: smaller;
    margin: 0px;
    }  
    .table-container{
        margin-left: 10px;
    }
    .valor_total{
        display: none;
    }
    .table img.produto-imagem {
        max-width: 40px; /* Reduz o tamanho das imagens */
    }
   
    table button{
        font-size: smaller;
        padding: 5px;
        margin: 3px;
    }
}


/* botões */

h4{
    background-color: red;
}

button {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

button a {
    text-decoration: none;
    color: inherit;
}

button:hover {
    background-color: #0056b3;
}


/* navbar */

.hamburger {
    display: none;
}

body.light-theme .navbar {
    background-color: #001b6dc3;

}
/* Estilos gerais para a navbar */
.navbar {
    width: 100%;
    background-color: rgba(0, 118, 228, 0.572);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 0; /* Padding para telas grandes */
}
#administracao button{
margin: 0%;
}
#administracao .navbar-links{ 
    gap: 5px; /* Espaço entre os botões */
}

/* Contêiner da navbar */
.navbar-container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between; /* Ajusta o espaço entre os itens e a logo */
    align-items: center;
    padding: 0 20px;
    position: relative; /* Para posicionar a imagem à direita */
}

/* Links da navbar */
.navbar-links {
    display: flex;
    gap: 20px; /* Espaço entre os botões */
    justify-content: center; /* Centraliza os botões */
}

/* Estilos dos botões */
.navbar button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px; /* Padding dos botões */
    cursor: pointer;
    font-size: 16px; /* Tamanho da fonte dos botões */
    border-radius: 5px; /* Raio da borda dos botões */
}

.navbar button a {
    text-decoration: none;
    color: inherit;
}

.navbar button:hover {
    background-color: #0056b3;
}

/* Estilos da imagem */
.logo-imagem {
    max-width: 40px; /* Tamanho máximo da imagem */
    height: auto;
    position: absolute;
    left: 5px; /* Espaço à direita da imagem */
    top: 5px
}
@media (max-width: 800px) {
    #logo-adm {
    display: none;
    }
}
@media (max-width: 700px) {
    #logo-imagem {
    display: none;
    
    }
}
/* Estilos para dispositivos móveis */
@media (max-width: 600px) {
    .navbar-links {
        display: none; /* Oculta os links em telas pequenas */
        flex-direction: column; /* Alinha os botões verticalmente */
        gap: 10px; /* Reduz o espaço entre os botões */
    }
    .navbar {
        position: absolute;
        background-color: transparent;
    }
    body.light-theme .navbar{
        position: absolute;
        background-color: transparent;
    }
    .navbar-links.show {
        display: flex; /* Mostra os links quando a classe 'show' estiver presente */
    }
    .quantidade{
        display: none;
    }
    .estado{
        max-width: 20px;
        margin: 0%;
        padding: 0%;
    }
    .hamburger {
        display: flex; /* Exibe o botão hambúrguer */
        font-size: 24px;
        background: none;
        border: none;
        color: black;
        cursor: pointer;
        justify-content: center; /* Centraliza horizontalmente */
        align-items: center; /* Centraliza verticalmente */
        position: absolute;
        top: 10px;
        left: 20px; /* Alinhado à esquerda com algum espaço */
    }

    .logo-imagem {
        position: static; /* Remove o posicionamento absoluto */
        margin-top: 10px; /* Espaço acima da imagem */
    }
}




/* formulario */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.cadastro{

    
}
form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    width: 30%;
    padding: 10px;
    border-radius: 25px;
    box-shadow: 5px 5px 25px  #333 ;
    margin-bottom: 100px;
    margin-left: 40px;
    margin-right: 40px;
    min-width: 300px;
}

.body.dark-theme form{
    background-color: rgb(87, 107, 102);
}

label {
    margin: 15px;
    color: black;
}

input {
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 50%;
}

input[type="submit"] {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}


.ver-pedido{
    display: flex;
    justify-content: center;
}
.ver-pedido p {
    margin-top: 5px;
    margin-bottom: 0px;
}
.ver-pedido form{
    background-color: aquamarine;
}
body.dark-theme .ver-pedido form{
    background-color:rgb(0, 0, 66);

}