#principal{
    border: solid black;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10%;
    width: 400px;
    height: 400px;
    background-color: blanchedalmond;
    justify-content: center;
 
}
h1{
    text-align: center;
    color:blue
}
#principal >:nth-child(n){
margin: 0 auto;

margin-left: 10px;
}
label{


}

#x{
   
    align-content: center;
}

input{
    width: 90%;
margin 10px 10px 10px 10px
}